@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

body section p {
    color: #384047;
}

.header {
    background: #2d343a;
    box-shadow: 0 0px 1px rgba(0,0,0,0.5);
}

.header-navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.header-navbar__logo {
    float: left;
    margin: 16px 80px 16px 0;
    text-decoration: none;
    color: #0FCE67;
    font-size: 20px;
    font-weight: bold;
}


.header-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.header-list__item {
    list-style: none;
    padding: 20px 15px;
}

.header-list__item a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .2s;
}

.header-list__item a:hover {
    color: rgba(255,255,255,0.8);
}

.apresentation {
    background: #384048;
    padding: 30px 0 120px;
}

.apresentation-container {
    position: absolute;
    width: 1200px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
}

.apresentation h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 300;
    color: #FFF;
}

.apresentation h1 span {
    font-weight: bold;
    color: #10ce64;
}

.install-instructions {
    flex-grow: 0;
    align-self: center;
    margin-top: 34px;
    font-family: "Source Code Pro", monospace;
    max-width: 386px;
    box-shadow: 2px 3px 9px #2e343a;
}

.install-instructions code {
    font-size: 18px;
    color: #7f8c8d;
    display: block;
    padding: 20px 50px;
    background: #2e343a;
}

.install-instructions .shell {
    color: #FFF;
}

.install-instructions .command {
    color: #FFF;
    font-weight: bold;
}

.install-instructions .name {
    color: #FFF;
    font-weight: bold;
}

.apresentation-steps {
    margin-top: 17px;
    display: flex;
    align-items: center;
    padding: 65px 0;
}

.apresentation-steps figure {
    margin: 0;
    color: #b7babd;
    text-align: center;
    font-weight: bold;
}

.apresentation-steps figure img{
    width: 140px;
}

.apresentation-steps__operator {
    font-size: 60px;
    padding: 10px 50px;
    font-weight: bold;
    color: #21262b;
}

.why-packblade__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.why-packblade__container h2 {
    color: #0FCE67;
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
}

footer {
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    background: #384047;
    color: #FFF;
}

footer p {
    margin: 0;
}

footer p em{
    color: #df6245;
    font-family: monospace;
    font-size: 23px;
}

footer p a {
    text-decoration: none;
    color: #10cf66;
    font-weight: bold;
    border-bottom: 2px solid white;
}

@media(max-width: 600px) {
    .apresentation h1 {
        font-size: 22px;
    }

    .apresentation-steps figure img {
        width: 60px;
    }

    .header-list__item a {
        font-size: 10px;
    }
    .install-instructions code {
        padding: 20px;
    }

    canvas {
        height: 520px;
    }
}

@media(max-width: 1200px) {
    .header-navbar {
        width: 90%;
    }

    .header-navbar__logo {
        margin-right: 30px;
    }

    .apresentation-container {
        max-width: 90%;
        padding: 0;
    }

    .apresentation-steps .apresentation-steps__operator {
        font-size: 40px;
        padding: 10px 20px;
    }
    .install-instructions {
        width: 100%;
    }
}
